.navbar {
  width: 100%;
  height: 60px;
  background-color: #223243;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  top: 0;
  position: fixed;
}

.navbar-left {
  background-color: #5cb3ff;
  margin-right: 25px;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* remove underline from Link */
}

.navbar-left:hover {
  background-color: #4094e0;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.navbar-left a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  font-size: 1rem;
}

